
<% @movies.each do |movie| %>
<section class="movies">
<div class="placeholer_img" >
<%= image_tag movie.image_file_name %>
</div>
    <div class="summary">
      <h3><%= link_to movie.name, movie %>  [ <%= movie.release_year %> ] </h3>
      <h3>by <%=movie.actor%></h3>
      <span class="price">
        ShowTime: <%= movie.starts_at.strftime("%B %d at %I:%M %P") %>
      </span>
      <article>
        <%= truncate(movie.description, length: 45, separator: ' ') %>
      </article>
      <p>
      Producer: <%= movie.producer%>
      </p>
      <p>
      Networth: <%= movie.net_worth%>
      </p>
      <span class="price">
      <%= price(movie) %>
      </span>
    </div>
</section>
<% end %>


