<h1>User Details</h1>

<section class="summary">
  <h1>
    <strong>Username: <%= @user.name %></strong>
  </h1>
  <h2>Email: <%= mail_to(@user.email) %></h2>
  <ul>
    <li>created_at: <%= @user.created_at %></li>
    <li>updated_at: <%= @user.updated_at %></li>
  </ul>
<% if current_user?(@user)%>
  <span class="user-btn">
    <%= link_to "Edit Account", edit_user_path(@user) %>
  </span>
    <span class="user-btn">
   <%= link_to "Delete Account", @user,
    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> 
      </span>
      <% end %>
</section>
