<h1>Registrations for <%= link_to @movie.name, movie_path(@movie) %></h1>

<% @registrations.each do |registration| %>
<div class="summary" >  
  <ul>
  <!-- the registration name comes from the user via its id, rather than using 
  registration.name  or  registration.email -->
    <li>Name: <%= link_to registration.user.name, registration.user %></li>
    <li>Email: <%= registration.user.email %></li>
    <li>How Heard: <%= registration.how_heard %></li>
  </ul>
    <div class="update-btn">
        <%= link_to 'Edit', edit_movie_registration_path(@movie, registration), class: "btn" %>
        <%= link_to 'Delete', movie_registration_path(@movie, registration), class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
     </div>
<% end %>
