<h1>Registrations for <%= link_to @movie.name, movie_path(@movie) %></h1>

<!--
<ul>
<% @registrations.each do |reg| %>
<li>
<%= reg.name %> for <%= reg.movie.name%>
</li>
<% end %>
</ul> -->

<!-- app/views/registrations/index.html.erb -->
<% @registrations.each do |registration| %>
<div class="summary" >  
  <ul>
    <li>Name: <%= registration.name %></li>
    <li>Email: <%= registration.email %></li>
    <li>How Heard: <%= registration.how_heard %></li>
  </ul>
    <div class="update-btn">
        <%= link_to 'Edit', edit_movie_registration_path(@movie, registration), class: "btn" %>
        <%= link_to 'Delete', movie_registration_path(@movie, registration), class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
     </div>
<% end %>
