<section class="movies">
    <div class="summary">
<%= form_with(model: movie) do |f| %>
      
<!-- <%= movie.errors.full_messages.to_sentence %> -->
<!-- <% if movie.errors.any? %>
<section class="errors">
  <h2>Oops! Your form could not be saved.</h2>
  <h3>
    Please correct the following
    <%= pluralize(movie.errors.size, "error") %>:
  </h3>
  <ul>
    <% movie.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %> -->

<%= render "movies/shared/errors", object: movie %>

         
         <div class="form-group">
         <%= f.label :name%>
         <%= f.text_field :name, autofocus: true %> 

         <%= f.label :Year%>
         <%= f.text_field :release_year%> 

                <%= f.label :actor %>
                <%= f.text_field :actor %>
        
                <%= f.label :showtime %>
                <%= f.datetime_local_field :starts_at %>
          
                <%= f.label :description %>
                <%= f.text_area :description, rows: 5 %>
          
                <%= f.label :producer %>
                <%= f.text_field :producer %>
          
                <%= f.label :net_worth %>
                <%= f.text_field :net_worth %>
          
                <%= f.label :price %>
                <%= f.text_field :price %>

                 <%= f.label :capacity %>
                <%= f.text_field :capacity %> 

                <%= f.label :upload_image%>
                <%= f.text_field :image_file_name %> 
          
     <div>
            <%= f.submit %> 
        </div>
</section>
<% end %>

